@charset "uft-8";

@font-face {
	font-family: 'MyFont';
	src: url(/font/tetsubin-gothic/07鉄瓶ゴシック.otf);
}

.BH1 p {
    top: 50px;
    font-family: 'MyFont';
    font-size: 50px;
    text-align: center;
}

.BH2 p{
    top: 250px;
    font-family: 'MyFont';
    font-size: 30px;
    line-height: 50px;
    position: absolute;
    text-align: left;
}

.BH3 p{
    top: 20px;
    font-family: 'MyFont';
    font-size: 25px;
    text-align: left;
    line-height: 42px;
    margin-left: 50px;
}