@charset "utf-8";

/* フォント読み込み */
@font-face {
    font-family: '07';
    src: url(/font/tetsubin-gothic/07鉄瓶ゴシック.otf);
}

@font-face {
    font-family: 'Kei';
    src: url(/font/k-font/keifont.ttf);
}

@font-face {
    font-family: 'Zen';
    src: url(/font/Zen_Maru_Gothic/ZenMaruGothic-Light.ttf);
}

@font-face {
    font-family: 'Gn';
    src: url(/font/genshingothic-20150607/GenShinGothic-Monospace-Bold.ttf);
}

@font-face {
    font-family: 'Gn2';
    src: url(/font/genshingothic-20150607/GenShinGothic-P-ExtraLight.ttf);
}

/* リセット */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {}

/* お知らせバナー */
.NoticeBanner {
    position: relative;
    display: block;
    width: 100%;
    background-color: rgb(255, 63, 63);
    overflow: hidden;
    font-size: 25px;
    font-family: 'Gn2';
}

.NoticeBanner .NoticeBanner-Content {
    display: inline-block;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #ffffff;
    list-style: 30px;
    padding-left: 100%;
    white-space: nowrap;
    animation: animate-banner 30s linear infinite;
    transition: 0.3s;
}

.NoticeBanner .NoticeBanner-Content>* {
    display: inline-block;
}

.NoticeBanner-Content-Text {
    transition: 0.35s;
}

.NoticeBanner-Content-Text:hover {
    transform: scale(0.9);
    opacity: 50%;
}

@keyframes animate-banner {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* きょうえいドライ（画像） */
.KyoueiDry-logo {
    width: 230px;
    position: relative;
}

/* ヘッダー画像 */
.header-img {
    position: absolute;
}

/* ナビゲーションバー */

header {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    background-color: rgb(69, 193, 255);
    width: 100%;
    display: flex;
    position: fixed;
}

nav ul {
    display: flex;
    justify-content: space-around;

}

nav ul li {
    list-style: none;
    line-height: 50px;
}

nav ul li .nav-text {
    margin-right: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Gn2';
    font-size: 30px;
    transition: 0.3s;
    
}

nav ul li .nav-text:hover {
    opacity: 50%;
    transform: scale(3.3);
}